.vscode
.DS_Store
.idea
.gradle
build/
local.properties
*.iml
android/build
.settings
.project
.classpath
node_modules/
npm-debug.log
yarn-error.log
android/gradle
android/local.properties
android/gradlew
android/gradlew.bat
android/gradlew.properties