<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trnwapptemplate"
    xmlns:tools="http://schemas.android.com/tools">



    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
      android:name=".MainApplication"
      android:allowBackup="false"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme"
      android:usesCleartextTraffic="true"
      android:requestLegacyExternalStorage="true"
      android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
      tools:replace="android:allowBackup,android:appComponentFactory">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:theme="@style/ActivityTheme"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustPan|stateHidden">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="terminus" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
      <meta-data android:name="android.max_aspect" android:value="2.1" />
        <meta-data android:name="ALIYUN_MAN_CHANNEL" android:value="mychannel" ></meta-data>
        <meta-data android:name="EMAS_APPKEY" android:value="emas31233324"></meta-data>
        <meta-data android:name="EMAS_APPSECRET" android:value="58a7d81ace92556d2ad0726119236db5"></meta-data>
    </application>

</manifest>
